<div class="normal-content">
  <h2>Add new todo</h2>

  <form #todoForm="ngForm" (submit)="addNewTodo()" layout="column">
    <div layout="row">
      <md-input name="todo" class="fill" placeholder="New todo item" required flex
        [(ngModel)]="todo"
        #todoControl
      ></md-input>

      <button type="submit" md-icon-button color="primary"
        [disabled]="todoForm.invalid"
      >
        <md-icon>send</md-icon>
      </button>
    </div>
  </form>

  <h2>Current todo items</h2>

  <md-list>
    <md-list-item
      *ngFor="let item of todos | async"
      [class.active]="item.active"
      [class.done]="item.done"
      (mouseenter)="item.active = true"
      (mouseleave)="item.active = false"
    >
      <div layout="row" layoutAlign="center" flex>
        <md-checkbox
          [(ngModel)]="item.done"
          (change)="toggleStatus(item)"
        ></md-checkbox>

        <div md-line flex>
          <h3>{{item.todo}}</h3>
          <p>
            Created: {{((item.createdAt / 1000) | amFromUnix) | amDateFormat: 'DD.MM.YY HH:mm'}}

            <span *ngIf="item.createdAt !== item.updatedAt">
              Updated: {{((item.updatedAt / 1000) | amFromUnix) | amDateFormat: 'DD.MM.YY HH:mm'}}
            </span>
          </p>
        </div>

        <button md-mini-fab color="warn"
          (click)="remove(item)"
        >
          <md-icon>clear</md-icon>
        </button>
      </div>
    </md-list-item>
  </md-list>
</div>
