<div class="fill-2">
  <div #list class="container" [scrollTop]="list.scrollHeight">
    <md-list>
      <md-list-item *ngFor="let message of messages | async">
        <h3 md-line>
          <span>{{((message.createdAt / 1000) | amFromUnix) | amDateFormat: 'DD.MM.YY HH:mm:ss'}}</span>
          {{message.nick}}
        </h3>
        <span md-line>{{message.message}}</span>
      </md-list-item>
    </md-list>
  </div>

  <div class="normal-content">
    <form #messageForm="ngForm" (submit)="addNewMessage()">
      <div class="row normal-content">
        <div class="fill">
          <md-input name="message" class="fill" placeholder="Add new message" required
            [(ngModel)]="message"
            #messageControl
          ></md-input>
        </div>

        <div>
          <button type="submit" md-icon-button color="primary"
            [disabled]="messageForm.invalid"
          >
            <md-icon>send</md-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

