.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login {
  width: 440px;
  margin: 0 auto;
  padding: 16px 8px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
  text-align: center;

  .text {
    margin-bottom: 16px;
  }

  button {
    margin: 0 4px;
  }
}