<div class="container">
  <div class="login">
    <div class="text">
      Please login with one of following providers.
    </div>

    <div class="buttons">
      <button md-raised-button color="primary" (click)="login('Facebook')">Facebook</button>
      <button md-raised-button color="primary" (click)="login('Google')">Google</button>
      <button md-raised-button color="primary" (click)="login('Twitter')">Twitter</button>
      <button md-raised-button color="primary" (click)="login('Github')">GitHub</button>
    </div>
  </div>
</div>
