<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill>

    <form class="form-entry" #nickForm="ngForm" (submit)="enterNick(nickControl.value)" autocomplete="off"
      fxLayout="row"
    >
      <md-input-container>
        <input name="nickForm" placeholder="Enter nick" required
          mdInput
          #nickControl
        />
      </md-input-container>

      <button type="submit" md-icon-button color="primary"
        [disabled]="!nickControl.value"
      >
        <md-icon>send</md-icon>
      </button>
    </form>
</div>
