<div class="container" appLayout="column" data-appLayoutAlign="center" data-appLayoutJustify="center" appFlex>
    <form class="form-entry" #nickForm="ngForm" (submit)="enterNick(nickControl.value)" autocomplete="off"
      appLayout="column"
      data-appLayoutAlign="center"
      data-appLayoutJustify="center"
    >
      <div appLayout="row">
        <div appFlex>
          <md-input name="nickForm" placeholder="Enter nick" required
            #nickControl
          ></md-input>
        </div>

        <div appFlex appFlexGrow="0">
          <button type="submit" md-icon-button color="primary"
            [disabled]="!nickControl.value"
          >
            <md-icon>send</md-icon>
          </button>
        </div>
      </div>
    </form>
</div>
