.container {
  height: 100%;
}

.form-entry {
  height: 60px;
  padding: 16px 8px 8px 16px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
}