<div class="outer">
  <div class="container" #list>
    <md-list class="normal-content">
      <md-list-item *ngFor="let message of messages | async">
        <div fxLayout="column" fxLayoutAlign="start start" fxFill>
            <h3>
              <span>{{((message.createdAt / 1000) | amFromUnix) | amDateFormat: 'DD.MM.YY HH:mm:ss'}}</span>
              {{message.nick}}
            </h3>
            <p>
              {{message.message}}
            </p>
        </div>
      </md-list-item>
    </md-list>
  </div>

  <div class="normal-content">
    <form #messageForm="ngForm" (submit)="addNewMessage()" autocomplete="off" fxLayout="row" fxFill>
      <md-input-container fxFlex>
        <input name="message" placeholder="Add new message" required
          mdInput
          [(ngModel)]="message"
          #messageControl
        />
      </md-input-container>

      <button type="submit" md-icon-button color="primary"
        [disabled]="!messageControl.value"
      >
        <md-icon>send</md-icon>
      </button>
    </form>
  </div>
</div>
