.outer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14902);
  overflow-y: scroll;
}

h3 {
  font-family: monospace;
  font-size: 14px;
  line-height: 14px;
}

h3,
p {
  margin: 0;
  padding: 0;
}
