/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.normal-content {
  padding: 0 16px;
}

.fill {
  display: flex;
  flex: 1 1 auto;
}