/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$frontend-app-primary: mat-palette($mat-blue-grey);
$frontend-app-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-app-theme: mat-light-theme($frontend-app-primary, $frontend-app-accent, $frontend-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-app-theme);

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.normal-content {
  padding: 0 16px;
}

.fill {
  display: flex;
  flex: 1 1 auto;
}

.animation-content-out {
  opacity: 0;
  transition: 0ms ease-out;
}

.animation-content-in {
  opacity: 1;
  transition: 500ms ease-in;
}
